@{
    ViewData["Title"] = "DashboardView";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

@await Component.InvokeAsync("DashboardWidgets")
@await Component.InvokeAsync("DashboardMainChart")
@await Component.InvokeAsync("DashboardEmployeeTask")


<div class="row">
    @await Component.InvokeAsync("DashboardGetMessages")
    @await Component.InvokeAsync("DashboardGetChefs")
</div>

