@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ProfileDto

<li class="dropdown">
    <a href="#" data-toggle="dropdown"
       class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <img src="@(Configuration["ApiSettings:BaseUrl"].ToString().Replace("/api", "") + Model.AvatarUrl)"
             alt="image"
             class="user-img-radious-style">
    </a>
    <div class="dropdown-menu dropdown-menu-right pullDown">
        <div class="dropdown-title">Hello @Model.Name @Model.Surname</div>
        <a asp-controller="Profile" asp-action="Profile" class="dropdown-item has-icon">
            <i class="far fa-user"></i> Profil
        </a>
        <a asp-controller="Reservation" asp-action="ReservationList" class="dropdown-item has-icon">
            <i class="fas fa-bolt"></i>
            Rezervasyonlar
        </a>
        <div class="dropdown-divider"></div>
        <a href="/Login/Logout" class="dropdown-item has-icon text-danger">
            <i class="fas fa-sign-out-alt"></i>
            Çıkış Yap
        </a>
    </div>
</li>