
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("HeadAdminPage")
<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            @await Component.InvokeAsync("NavbarAdminPage")

            @await Component.InvokeAsync("SidebarAdminPage")

            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </section>
                @await Component.InvokeAsync("SettingsSidebarAdminPage")
            </div>
            @await Component.InvokeAsync("FooterAdminPage")
        </div>
    </div>
    <script src="/otika-bootstrap-admin-template/assets/js/app.min.js"></script>
    <script src="/otika-bootstrap-admin-template/assets/js/scripts.js"></script>
    <script src="/otika-bootstrap-admin-template/assets/js/custom.js"></script>
</body>
</html>