@model UpdateYummyEventDto

@{
    ViewData["Title"] = "YummyEventsUpdate";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="section-title">Güncelleme İşlemi</div>
                <div class="table-responsive">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="YummyEventsId" />
                        <label asp-for="Title">Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <br />
                        <label asp-for="Description"></label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <br />
                        <label>Mevcut Resim</label>
                        <br />
                        <img src="@Model.ImageUrl" style="width:150px; height:100px; border-radius:10px; border:1px solid #ddd" />
                        <input type="hidden" asp-for="ImageUrl" />
                        <br />
                        <label>Yeni Resim Seç (Opsiyonel)</label>
                        <input type="file" class="form-control" asp-for="ImageFile" />
                        <br />
                        <label asp-for="Price">Fiyat</label>
                        <input type="text" class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <br />
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                        <a asp-controller="YummyEvents" asp-action="YummyEventsList" class="btn btn-danger">Geri</a>
                    </form>
                </div>
            </div>
        </div>
    </div>




