@model UpdateAboutDto
@{
    ViewData["Title"] = "AboutUpdate";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="section-title">Güncelleme İşlemi</div>
                <div class="table-responsive">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form asp-controller="About" asp-action="AboutUpdate" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="AboutId" />
                        <label asp-for="Title">Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <br />
                        <label asp-for="Description">Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <br />
                        <label>Mevcut Resim</label>
                        <br />
                        <img src="@Model.ImageUrl" style="width:150px; height:100px; border-radius:10px; border:1px solid #ddd" />
                        <input type="hidden" asp-for="ImageUrl" />
                        <br />
                        <label>Yeni Resim Seç</label>
                        <input type="file" class="form-control" asp-for="ImageFileForImageUrl" />
                        <br />
                        <label asp-for="VideoUrl">VideoUrl</label>
                        <input type="text" class="form-control" asp-for="VideoUrl" />
                        <br />
                        <label>Mevcut Resim</label>
                        <br />
                        <img src="@Model.VideoCoverImageUrl" style="width:150px; height:100px; border-radius:10px; border:1px solid #ddd" />
                        <input type="hidden" asp-for="VideoCoverImageUrl" />
                        <br />
                        <label>Yeni Resim Seç (Video Cover)</label>
                        <input type="file" class="form-control" asp-for="ImageFileForVideoCover" />
                        <br />
                        <label asp-for="ReservationNumber">Rezervasyon Numarası</label>
                        <input type="text" class="form-control" asp-for="ReservationNumber" />
                        <span asp-validation-for="ReservationNumber" class="text-danger"></span>
                        <br />
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                        <a asp-controller="About" asp-action="AboutList" class="btn btn-danger">Geri</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

